body {
  background-color: black;
  background-image: url('./images/darth1.jpg');
  background-size: 1550px 980px;
  background-attachment: fixed;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

.nav_list {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #333;
  background-image: url('./images/nav1.jpg');
  background-size: 400px 370px;
  opacity: 0.85;
}

#sidebar_item {
  text-align: left;
  padding: 2px;
}

.film_item {
  font-size: 20px;
  color: #e6e6e6;
  text-decoration: none;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: 400px;
  text-align: left;
  margin-top: -27px;
  margin-left: -20px;
  overflow-y: scroll;
  height: 480px;
}

.film_item::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.film_li {
  padding: 3px;
  padding-right: 14px;
}

.char_item {
  font-size: 20px;
  color: #e6e6e6;
  text-decoration: none;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: 350px;
  text-align: center;
  margin-top: -27px;
}

.char_li {
  padding: 3px;
}

#name {
  font-size: 30px;
  margin-bottom: 7px;
  padding-top: 10px;
  text-align: center;
}

.movies {
  list-style-type: none;
  text-align: center;
  margin-left: -43px;
  font-size: 15px;
}

#last {
  padding-bottom: 10px;
}

ul span {
  color: black;
  font-weight: bold;
}

#nav_item {
  float: left;
  cursor: pointer;
}

#nav_item a {
  display: block;
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 100px;
}

#nav_item a:hover, .active {
  background-color: rgba(0, 0, 255, 0.4);
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: #cccccc;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar {
  height: 100%;
  margin-top: 67px;
  width: 293px;
  position: fixed;
  background-color: #111;
  z-index: 1;
  overflow-x: hidden;
  top: 0;
  left: 0;
  padding-top: 6px;
  background-image: url('./images/nav1.jpg');
  opacity: 0.85;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.highlight, .sidebar a:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.logo {
  width: 450px;
  height: 240px;
  margin-left: 200px;
  margin-top: 150px;
}

.content {
  margin-left: 400px;
  margin-top: 60px;
}
